.bar-container{
    margin: 0 100px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.bar-container button{
    color: #5264C3;
    border: none;
    background-color: transparent;
    margin-left: 30px;
    font-size: 23px;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .bar-container{
        justify-content: space-between;
    }    
}

@media screen and (max-width: 660px) {


    .bar-container{
        margin: 0 75px;
    }

    .bar-container button{
        font-size: 18px;
    }
  }