.details-container{
    min-height: 100vh;
    background-color: #FAFAFA;
}

.details-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 115px 200px;
    margin: 0 300px;
    background-color: white;
}

.image-container{
    height: 30%;
    width: 40%;
}

.image-container img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.details-info{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.details-info button{
    background-color: #FFD814;
    border: none;
    padding: 15px 40px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

@media screen and (max-width: 1240px) {
    .details-card{
        flex-direction: column;
        padding: 50px 0 50px;
        margin: 0 100px;
    }

    .image-container{
        margin-bottom: 30px;
    }

    .details-info button{
        align-self: center;
    }
}

@media screen and (max-width: 660px) {
    .image-container{
        height: 40%;
        width: 50%;
        margin: 0 40px 40px;
    }

    .details-info{
        width: 75%;
        gap: 25px;
    }

    .details-info h2{
        font-size: 20px;
    }

    .details-info h3{
        font-size: 18px;
        font-weight: 600;
    }
}