*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    padding: 20px 40px;
}

.header-container a{
    color: #3A4895;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}

.cart-container{
    display: flex;
    align-items: center;
}

.cart-icon{
    font-size: 1.75em;
    color: #3A4895;
}

.cart-container p{
    font-size: 14px;
    color: white;
    background-color: #F90505;
    padding: 3px 7px;
    border-radius: 15px;
    position: absolute;
    right: 48px;
    top: 23px;
}