.item-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 20px;
    border-bottom: 1px solid rgba(217, 217, 217, 0.60);
}

.item-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.checkout-img{
    border-radius: 10px;
    height: 125px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-description a{
    text-decoration: none;
    color: black;
}

.item-description a:hover{
    color: #3A4895;
}

.item-container p{
    font-weight: 600;
    font-size: 18px;
}

.item-info{
    display: flex;
    justify-content: space-between;
    width: 55%;
    padding-right: 50px;
    padding-left: 50px;
    /* border: 2px red solid; */
}

.trash-icon{
    font-size: 2.25em;
    cursor: pointer;
}