.footer-container{
    background-color: #3A4895;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.footer-container p{
    color: white;
    font-size: 12px;
}

.contact-btn{
    color: white;
    background-color: transparent;
    border: none;
    font-size: 12px;
    text-decoration: none;
}